<html>
<head>
    <meta charset="utf-8">
    <title>CHAT</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS-->
    <link rel="stylesheet" href="css/bootstrap.css">

    <!-- JS -->
    <script src="https://unpkg.com/vue"></script>
</head>
<body>

<div id="app" class="container-fluid">
    <div class="row">
        <div v-if="message" class="col text-center">
            {{ message }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item" v-for="(value, key) in chats">
                    <a v-bind:class="['nav-link',{active:selectedChat == key}]" href="#"
                       @click.prevent="selectedChat = key">{{
                        key }}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" v-if="selectedChat">
        <div class="col">
            <ul>
                <li v-for="item in chats[selectedChat]">
                    {{item.message}}
                </li>
            </ul>
        </div>
    </div>
</div>

</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="text/javascript">

    var app = new Vue({
        el: '#app',
        data: {
            message: '',
            chats: {
                'Chat 1': [
                    {
                        message: 'teste chat 1'
                    },
                    {
                        message: 'teste  chat 1 2'
                    },
                    {
                        message: 'teste  chat 1 3'
                    }],
                'Chat 2': [
                    {
                        message: 'teste chat 2'
                    },
                    {
                        message: 'teste chat 2 2'
                    },
                    {
                        message: 'teste chat 2 3'
                    }]
            },
            selectedChat: ''
        }
    });

    var timetoutMessage;

    function exibirMensagen(mensagem) {
        app.message = mensagem

        if (timetoutMessage) {
            timetoutMessage.cancel()
        }

        timetoutMessage = window.setTimeout(function () {
            app.message = ''
        }, 3000)
    }

    function conectar() {
        console.log("vai se conecatar");
        window.WebSocket = window.WebSocket || window.MozWebSocket;
        var connection = new WebSocket('ws://127.0.0.1:4567/message');

        connection.onopen = function () {
            exibirMensagen("conexao aberta")
        };

        connection.onerror = function (error) {
            exibirMensagen("conexao fechada")
        };

        connection.onmessage = function (message) {
            app.chats[app.selectedChat].push({
                message: message.data
            })
        };
    }

    conectar()

</script>


</body>
</html>